<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dreamer CMS - 后台管理系统</title> 
    <link href="/resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/resource/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="row">
    <div class="col-md-12">
    	<h1 class="panel-heading">添加用户</h1>
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
			<li><a href="/admin/dashboard/toIndex"><i class="fa fa-home"></i> 首页</a></li>
			<li class="active">添加用户</li>
		</ul>
        <!--breadcrumbs end -->
    </div>
</div>
<section class="panel">
	<div class="panel-body">
		<form class="col s12" id="form1" enctype="multipart/form-data" th:action="@{/admin/user/add}" onsubmit="return validateForm();" method="post">
			<div class="form-group form-control-medium">
				<label for="username">用户名：</label>
				<input id="username" name="username" type="text" class="form-control" placeholder="用户名" />
			</div>
			<div class="form-group form-control-medium">
				<label for="password">密码：</label>
				<input id="password" name="password" type="password" class="form-control" placeholder="密码" />
			</div>
			<div class="form-group form-control-medium">
				<label for="repassword">重复密码：</label>
				<input id="repassword" name="repassword" type="password" class="form-control" placeholder="重复密码" />
			</div>
			<div class="form-group form-control-medium">
				<label for="mobile">手机号：</label>
				<input id="mobile" name="mobile" type="text" class="form-control" placeholder="手机号" />
			</div>
			<div class="form-group form-control-medium">
				<label for="realname">真实姓名：</label>
				<input id="realname" name="realname" type="text" class="form-control" placeholder="真实姓名" />
			</div>
			<div class="form-group form-control-medium">
				<label for="status">状态：</label>
				<input id="status-yes" name="status" type="radio" value="1" checked="checked" /> 有效
				<input id="status-no" name="status" type="radio" value="0" /> 无效
			</div>
			<div class="form-btn-group-left">
            	<button type="submit" class="btn btn-info">保存</button>
            </div>
		</form>
	</div>
</section>
<script src="/resource/js/jquery.min.js"></script>
<script src="/resource/js/coco-message/coco-message.js"></script>
<script>
   	/* 保存方法 */
    function validateForm(){
    	var username = $("#username").val();
    	var password = $("#password").val();
    	var repassword = $("#repassword").val();
    	if(username == null || username==''){
			cocoMessage.error("用户名不能为空");
    		return false;
    	}
    	if(password == null || password == ""){
			cocoMessage.error("密码不能为空");
    		return false;
    	}
    	if(repassword == null || repassword == ""){
			cocoMessage.error("重复密码不能为空");
    		return false;
    	}
    	if(password != repassword){
			cocoMessage.error("两次密码输入不一致");
    		return false;
    	}
    	return true;
    }
</script>
</body>
</html>
