target/
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
*.log.gz
.settings/

*.class

*.jar
*.war
*.ear
/target
/.settings
.classpath
/.project
/.sts4-cache
.sts4-cache
.factorypath

rebel.xml
log4j2-dev.yml
application-dev.yml
