<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
<div th:fragment="content">
  <div class="aboutme">
    <h2 class="hometitle">关于我</h2>
    <div class="avatar"> <img th:src="@{${templatesdir}} + 'images/avatar.jpg'"> </div>
    <div class="ab_con" th:utext="${pages.pageinfo('075C4CL2').htmlContent}" th:if="${pages.pageinfo('075C4CL2').defaultEditor} == 'ue'">
    </div>
  </div>
  <div class="weixin">
    <h2 class="hometitle">微信关注</h2>
    <ul>
      <img th:src="@{${templatesdir}} + 'images/wx.jpg'">
    </ul>
  </div>
</div>
</body>
</html>