<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
<div th:fragment="content">
   <div class="search">
      <form action="/search" method="post" name="searchform" id="searchform">
        <input name="entity[keywords]" id="keywords" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="lmnav">
      <h2 class="hometitle">栏目导航</h2>
      <ul class="navbor">
        <li th:each="item : ${categorys.navigate('top')}">
        	<a th:href="${item.visitUrl} + '?typeid=' + ${item.id}" th:text="${item.cnname}">关于我</a>
        	<ul th:if="${#bools.listIsTrue(item.nodes)}">
	            <li th:each="sub : ${item.nodes}"><a th:href="${sub.visitUrl} + '?typeid=' + ${sub.id}" th:text="${sub.cnname}">个人博客模板</a></li>
	        </ul>
        </li>
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">点击排行</h2>
      <ul>
        <li th:each="item : ${archives.list('start=0','length=5','sortBy=clicks','sortWay=desc')}">
        	<b><a th:href="${constant.articleurl} + ${item.aid}" target="_blank" th:text="${item.title}"></a></b>
        	<p><i><img th:src="${system.website} + ${system.uploaddir} + ${item.imagePath}"></i><div th:text="${#strings.length(item.description)} > 50 ? ${#strings.substring(item.description,0,50)} + '...' : ${item.description}"></div></p>
        </li>
      </ul>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="#" th:each="item : ${labels.all()}" th:text="${item.tagName}"></a>
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">站长推荐</h2>
      <ul>
        <li th:each="item : ${archives.recommend('start=0','length=5')}"><b><a th:href="${constant.articleurl} + ${item.id}" target="_blank" th:text="${item.title}">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
          <p><i><img th:src="${system.website} + ${system.uploaddir} + ${item.imagePath}"></i><span th:text="${#strings.length(item.description)} > 40 ?  ${#strings.substring(item.description,0,40)} + '...' : ${item.description}"></span></p>
        </li>
      </ul>
    </div>
    <div class="weixin">
      <h2 class="hometitle">官方微信</h2>
      <ul>
        <img th:src="@{${templatesdir}} + 'images/wx.jpg'">
      </ul>
    </div>
</div>
</body>
</html>