<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.iteachyou.cms.dao.FormMapper" >
  <resultMap id="BaseResultMap" type="cc.iteachyou.cms.entity.Form" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="form_name" property="formName" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext01" property="ext01" jdbcType="VARCHAR" />
    <result column="ext02" property="ext02" jdbcType="VARCHAR" />
    <result column="ext03" property="ext03" jdbcType="VARCHAR" />
    <result column="ext04" property="ext04" jdbcType="VARCHAR" />
    <result column="ext05" property="ext05" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, form_name, table_name, code, type, create_by, create_time, update_by, update_time, 
    ext01, ext02, ext03, ext04, ext05
  </sql>

  <update id="createTable" parameterType="cc.iteachyou.cms.entity.Form">
  	create table `system_${tableName}` (
  	   `id` varchar(32) NOT NULL,
  	   `aid` varchar(32) NOT NULL COMMENT '主表ID',
  	   `ext01`  varchar(32),
	   `ext02`  varchar(32),
	   `ext03`  varchar(32),
	   `ext04`  varchar(32),
	   `ext05`  varchar(32),
	   PRIMARY KEY (`id`)
  	);
  </update>
  
  <update id="dropTable" parameterType="java.lang.String">
  	drop table `system_${tableName}`;
  </update>
  
  <update id="renameTable" parameterType="java.util.Map">
  	rename table `system_${oldTableName}` to `system_${newTableName}`;
  </update>
  
  <update id="alterTableAddColumn" parameterType="java.lang.String">
  	${sql};
  </update>
  
  <update id="alterTableDropColumn" parameterType="java.lang.String">
  	${sql};
  </update>
  
  <update id="alterTableChangeColumn" parameterType="java.lang.String">
  	${sql};
  </update>
  
  <select id="queryListByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 1 = 1
    order by update_time desc
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 1 = 1
    order by update_time desc
  </select>
  
  <select id="queryDefaultForm" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 
    	ext01 = 'selected' 
    order by update_time desc
  </select>
  
  <select id="queryFormByCode" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 
    	code = #{code,jdbcType=VARCHAR}
    order by update_time desc
  </select>
  
</mapper>