<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itechyou.cms.dao.FormMapper" >
  <resultMap id="BaseResultMap" type="cn.itechyou.cms.entity.Form" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="form_name" property="formName" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext01" property="ext01" jdbcType="VARCHAR" />
    <result column="ext02" property="ext02" jdbcType="VARCHAR" />
    <result column="ext03" property="ext03" jdbcType="VARCHAR" />
    <result column="ext04" property="ext04" jdbcType="VARCHAR" />
    <result column="ext05" property="ext05" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, form_name, table_name, code, type, create_by, create_time, update_by, update_time, 
    ext01, ext02, ext03, ext04, ext05
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from system_forms
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from system_forms
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itechyou.cms.entity.Form" >
    insert into system_forms (id, form_name, table_name, 
      code, type, create_by, 
      create_time, update_by, update_time, 
      ext01, ext02, ext03, 
      ext04, ext05)
    values (#{id,jdbcType=VARCHAR}, #{formName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ext01,jdbcType=VARCHAR}, #{ext02,jdbcType=VARCHAR}, #{ext03,jdbcType=VARCHAR}, 
      #{ext04,jdbcType=VARCHAR}, #{ext05,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itechyou.cms.entity.Form" >
    insert into system_forms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formName != null" >
        form_name,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ext01 != null" >
        ext01,
      </if>
      <if test="ext02 != null" >
        ext02,
      </if>
      <if test="ext03 != null" >
        ext03,
      </if>
      <if test="ext04 != null" >
        ext04,
      </if>
      <if test="ext05 != null" >
        ext05,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="formName != null" >
        #{formName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext01 != null" >
        #{ext01,jdbcType=VARCHAR},
      </if>
      <if test="ext02 != null" >
        #{ext02,jdbcType=VARCHAR},
      </if>
      <if test="ext03 != null" >
        #{ext03,jdbcType=VARCHAR},
      </if>
      <if test="ext04 != null" >
        #{ext04,jdbcType=VARCHAR},
      </if>
      <if test="ext05 != null" >
        #{ext05,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itechyou.cms.entity.Form" >
    update system_forms
    <set >
      <if test="formName != null" >
        form_name = #{formName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext01 != null" >
        ext01 = #{ext01,jdbcType=VARCHAR},
      </if>
      <if test="ext02 != null" >
        ext02 = #{ext02,jdbcType=VARCHAR},
      </if>
      <if test="ext03 != null" >
        ext03 = #{ext03,jdbcType=VARCHAR},
      </if>
      <if test="ext04 != null" >
        ext04 = #{ext04,jdbcType=VARCHAR},
      </if>
      <if test="ext05 != null" >
        ext05 = #{ext05,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itechyou.cms.entity.Form">
    update system_forms
    set form_name = #{formName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ext01 = #{ext01,jdbcType=VARCHAR},
      ext02 = #{ext02,jdbcType=VARCHAR},
      ext03 = #{ext03,jdbcType=VARCHAR},
      ext04 = #{ext04,jdbcType=VARCHAR},
      ext05 = #{ext05,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="createTable" parameterType="cn.itechyou.cms.entity.Form">
  	create table `system_${tableName}` (
  	   `id` varchar(32) NOT NULL,
  	   `aid` varchar(32) NOT NULL COMMENT '主表ID',
  	   `ext01`  varchar(32),
	   `ext02`  varchar(32),
	   `ext03`  varchar(32),
	   `ext04`  varchar(32),
	   `ext05`  varchar(32),
	   PRIMARY KEY (`id`)
  	);
  </update>
  
  <update id="dropTable" parameterType="java.lang.String">
  	drop table `system_${tableName}`;
  </update>
  
  <update id="renameTable" parameterType="java.util.Map">
  	rename table `system_${oldTableName}` to `system_${newTableName}`;
  </update>
  
  <update id="alterTableAddColumn" parameterType="java.lang.String">
  	${sql};
  </update>
  
  <update id="alterTableDropColumn" parameterType="java.lang.String">
  	${sql};
  </update>
  
  <update id="alterTableChangeColumn" parameterType="java.lang.String">
  	${sql};
  </update>
  
  <select id="queryListByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 1 = 1
    order by update_time desc
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 1 = 1
    order by update_time desc
  </select>
  
  <select id="queryDefaultForm" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 
    	ext01 = 'selected' 
    order by update_time desc
  </select>
  
  <select id="queryFormByCode" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
    from system_forms 
    where 
    	code = #{code,jdbcType=VARCHAR}
    order by update_time desc
  </select>
  
</mapper>