<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itechyou.blog.dao.NavigatePageMapper" >
  <resultMap id="BaseResultMap" type="cn.itechyou.blog.entity.NavigatePage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="nav_id" property="navId" jdbcType="VARCHAR" />
    <result column="page_id" property="pageId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="order_by" property="orderBy" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext01" property="ext01" jdbcType="VARCHAR" />
    <result column="ext02" property="ext02" jdbcType="VARCHAR" />
    <result column="ext03" property="ext03" jdbcType="VARCHAR" />
    <result column="ext04" property="ext04" jdbcType="VARCHAR" />
    <result column="ext05" property="ext05" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapVo" type="cn.itechyou.blog.vo.NavigateVo" >
  	<result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="nav_id" property="navId" jdbcType="VARCHAR" />
    <result column="page_id" property="pageId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="order_by" property="orderBy" jdbcType="INTEGER" />
    <result column="nav_name" property="navName" jdbcType="VARCHAR" />
    <result column="page_name" property="pageName" jdbcType="TIMESTAMP" />
    <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    <result column="page_temp" property="pageTemp" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, nav_id, page_id, parent_id, order_by, create_by, create_time, update_by, update_time, 
    ext01, ext02, ext03, ext04, ext05
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from system_navigate_page
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from system_navigate_page
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itechyou.blog.entity.NavigatePage" >
    insert into system_navigate_page (id, nav_id, page_id, 
      parent_id, order_by, create_by, 
      create_time, update_by, update_time, 
      ext01, ext02, ext03, 
      ext04, ext05)
    values (#{id,jdbcType=VARCHAR}, #{navId,jdbcType=VARCHAR}, #{pageId,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{orderBy,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ext01,jdbcType=VARCHAR}, #{ext02,jdbcType=VARCHAR}, #{ext03,jdbcType=VARCHAR}, 
      #{ext04,jdbcType=VARCHAR}, #{ext05,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itechyou.blog.entity.NavigatePage" >
    insert into system_navigate_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="navId != null" >
        nav_id,
      </if>
      <if test="pageId != null" >
        page_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="orderBy != null" >
        order_by,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ext01 != null" >
        ext01,
      </if>
      <if test="ext02 != null" >
        ext02,
      </if>
      <if test="ext03 != null" >
        ext03,
      </if>
      <if test="ext04 != null" >
        ext04,
      </if>
      <if test="ext05 != null" >
        ext05,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="navId != null" >
        #{navId,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext01 != null" >
        #{ext01,jdbcType=VARCHAR},
      </if>
      <if test="ext02 != null" >
        #{ext02,jdbcType=VARCHAR},
      </if>
      <if test="ext03 != null" >
        #{ext03,jdbcType=VARCHAR},
      </if>
      <if test="ext04 != null" >
        #{ext04,jdbcType=VARCHAR},
      </if>
      <if test="ext05 != null" >
        #{ext05,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itechyou.blog.entity.NavigatePage" >
    update system_navigate_page
    <set >
      <if test="navId != null" >
        nav_id = #{navId,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null" >
        page_id = #{pageId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext01 != null" >
        ext01 = #{ext01,jdbcType=VARCHAR},
      </if>
      <if test="ext02 != null" >
        ext02 = #{ext02,jdbcType=VARCHAR},
      </if>
      <if test="ext03 != null" >
        ext03 = #{ext03,jdbcType=VARCHAR},
      </if>
      <if test="ext04 != null" >
        ext04 = #{ext04,jdbcType=VARCHAR},
      </if>
      <if test="ext05 != null" >
        ext05 = #{ext05,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itechyou.blog.entity.NavigatePage" >
    update system_navigate_page
    set nav_id = #{navId,jdbcType=VARCHAR},
      page_id = #{pageId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ext01 = #{ext01,jdbcType=VARCHAR},
      ext02 = #{ext02,jdbcType=VARCHAR},
      ext03 = #{ext03,jdbcType=VARCHAR},
      ext04 = #{ext04,jdbcType=VARCHAR},
      ext05 = #{ext05,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByParentId" resultMap="BaseResultMapVo" parameterType="java.lang.String">
  	select 
  		t1.id,
  		t1.nav_id,
  		t1.page_id,
  		t1.parent_id,
  		t1.order_by,
  		t2.nav_name,
  		t3.page_name,
  		t3.page_url,
  		t3.page_temp 
  	from 
  		system_navigate_page t1,
  		system_navigate t2, 
  		system_pages t3
	where 
		t2.id = t1.nav_id 
		and t1.page_id = t3.id 
		and t1.parent_id= #{parentId,jdbcType=VARCHAR} 
		and t1.nav_id= #{navId,jdbcType=VARCHAR} 
		and t3.status = 1
	order by t1.order_by asc,t1.create_time desc
  </select>
  
  <delete id="deletePageByNavId">
  	delete from system_navigate_page where nav_id = #{navId,jdbcType=VARCHAR}
  </delete>
</mapper>