<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itechyou.cms.dao.PagesMapper" >
  <resultMap id="BaseResultMap" type="cn.itechyou.cms.entity.Pages" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="page_name" property="pageName" jdbcType="VARCHAR" />
    <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    <result column="page_temp" property="pageTemp" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="default_eidtor" property="defaultEditor" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.itechyou.cms.entity.PagesWithBLOBs" extends="BaseResultMap" >
    <result column="md_content" property="mdContent" jdbcType="LONGVARCHAR" />
    <result column="html_content" property="htmlContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, page_name, page_url, page_temp, code, status, default_eidtor, create_by, create_time, 
    update_by, update_time
  </sql>
  <sql id="Blob_Column_List" >
    md_content, html_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_pages
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from system_pages
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itechyou.cms.entity.PagesWithBLOBs" >
    insert into system_pages (id, page_name, page_url, 
      page_temp, code, status, default_eidtor, 
      create_by, create_time, update_by, 
      update_time, md_content, html_content
      )
    values (#{id,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, #{pageUrl,jdbcType=VARCHAR}, 
      #{pageTemp,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{defaultEditor,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{mdContent,jdbcType=LONGVARCHAR}, #{htmlContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itechyou.cms.entity.PagesWithBLOBs" >
    insert into system_pages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pageName != null" >
        page_name,
      </if>
      <if test="pageUrl != null" >
        page_url,
      </if>
      <if test="pageTemp != null" >
        page_temp,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="defaultEditor != null" >
        default_eidtor,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="mdContent != null" >
        md_content,
      </if>
      <if test="htmlContent != null" >
        html_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="pageTemp != null" >
        #{pageTemp,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="defaultEditor != null" >
        #{defaultEditor,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mdContent != null" >
        #{mdContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlContent != null" >
        #{htmlContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itechyou.cms.entity.PagesWithBLOBs" >
    update system_pages
    <set >
      <if test="pageName != null" >
        page_name = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="pageTemp != null" >
        page_temp = #{pageTemp,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="defaultEditor != null" >
        default_eidtor = #{defaultEditor,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mdContent != null" >
        md_content = #{mdContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlContent != null" >
        html_content = #{htmlContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.itechyou.cms.entity.PagesWithBLOBs" >
    update system_pages
    set page_name = #{pageName,jdbcType=VARCHAR},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      page_temp = #{pageTemp,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      default_eidtor = #{defaultEditor,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      md_content = #{mdContent,jdbcType=LONGVARCHAR},
      html_content = #{htmlContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itechyou.cms.entity.Pages" >
    update system_pages
    set page_name = #{pageName,jdbcType=VARCHAR},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      page_temp = #{pageTemp,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      default_eidtor = #{defaultEditor,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="queryListByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	select 
	  	<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
    from system_pages
    where 1 = 1
    <if test="pageName != null and pageName != ''">
    	and page_name = #{pageName,jdbcType=VARCHAR}
    </if>
    order by update_time desc
  </select>
  
  <select id="queryAll" resultMap="ResultMapWithBLOBs">
  	select 
	  	<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
    from system_pages
    where 1 = 1
  </select>
  
  <select id="queryAllShowPages" resultMap="BaseResultMap">
 	select 
  		<include refid="Base_Column_List" />
  	from system_pages
  	where status = 1
  </select>
  
  <select id="queryPageByUrl" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
  	select 
	  	<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
    from system_pages
    where page_url = #{path,jdbcType=VARCHAR}
  </select>
  
  <select id="queryPageByCode" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
  	select 
	  	<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
    from system_pages
    where code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>