<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itechyou.cms.dao.SystemMapper" >
  <resultMap id="BaseResultMap" type="cn.itechyou.cms.entity.System" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="icp" property="icp" jdbcType="VARCHAR" />
    <result column="copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="uploaddir" property="uploaddir" jdbcType="VARCHAR" />
    <result column="staticdir" property="staticdir" jdbcType="VARCHAR" />
    <result column="browse_type" property="browseType" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="appkey" property="appkey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, website, title, keywords, describe, icp, copyright, appid, appkey, uploaddir, staticdir, browse_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from system_setting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from system_setting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itechyou.cms.entity.System" >
    insert into system_setting (id, website, title, 
      keywords, describe, icp, 
      copyright, appid, appkey, uploaddir, staticdir, browse_type
      )
    values (#{id,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{icp,jdbcType=VARCHAR}, 
      #{copyright,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{appkey,jdbcType=VARCHAR}, 
      #{uploaddir,jdbcType=VARCHAR}, #{staticdir,jdbcType=VARCHAR}, #{browseType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itechyou.cms.entity.System" >
    insert into system_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="icp != null" >
        icp,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="uploaddir != null" >
        uploaddir,
      </if>
      <if test="staticdir != null" >
        staticdir,
      </if>
      <if test="browseType != null" >
        browse_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="icp != null" >
        #{icp,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null" >
        #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="uploaddir != null" >
        #{uploaddir,jdbcType=VARCHAR},
      </if>
      <if test="staticdir != null" >
        #{staticdir,jdbcType=VARCHAR},
      </if>
      <if test="browseType != null" >
        #{browseType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itechyou.cms.entity.System" >
    update system_setting
    <set >
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="icp != null" >
        icp = #{icp,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null" >
        appkey = #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="uploaddir != null" >
        uploaddir = #{uploaddir,jdbcType=VARCHAR},
      </if>
      <if test="staticdir != null" >
        staticdir = #{staticdir,jdbcType=VARCHAR},
      </if>
      <if test="browseType != null" >
        browse_type = #{browseType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itechyou.cms.entity.System" >
    update system_setting
    set website = #{website,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      icp = #{icp,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      appkey = #{appkey,jdbcType=VARCHAR},
      uploaddir = #{uploaddir,jdbcType=VARCHAR},
      staticdir = #{staticdir,jdbcType=VARCHAR},
      browse_type = #{browseType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from system_setting
  </select>
</mapper>