<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.iteachyou.cms.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="cc.iteachyou.cms.entity.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, role_id
  </sql>
  
  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertBatchList" parameterType="java.util.List" >
    insert into system_user_role
    (id, user_id, role_id)
    values
    <foreach collection ="list" item="item" index= "index" separator =",">
      (
      #{item.id},
      #{item.userId},
      #{item.roleId}
      )
    </foreach>
  </insert>
</mapper>